.about {
  padding-bottom: 103px;

  &__wrapper {
    position: relative;

    &__image {
      position: absolute;
      width: auto;

    }

    .image--big {
      top: 315px;
      left: 800px;
    }

    .image--small {
      top: 485px;
      left: 433px;

    }

    &__title {
      margin-bottom: 3%;
      font-family: $font-family-title;
      font-weight: $font-weight-body;
      font-size: 99.36px;
      line-height: 1.107;     
      display: flex;
      align-items: center;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
      letter-spacing: 0.035em;
      text-transform: uppercase;

        &__sub-title {
          margin-top: 7px;
          font-family: 'Montserrat', sans-serif;
          font-weight: 500;
          font-size: 41.5928px;
          line-height: 1.105;
          letter-spacing: 0.05em;
        }
    }

    &__list {
      // width: calc(100% - 960px);
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
      align-items: center;


      &__item {
        position: relative;

        &:not(:last-child) {
            margin-right: 3%;
        }
      }

        .item__link {
          position: relative;
          font-family: 'Montserrat', sans-serif;
          font-weight: 500;
          font-size: 24px;
          line-height: 1.125;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          color: #747474;
          cursor: pointer;
          transition: color $transition-timing-function;
            
          &:hover {
              transform: scale(1.1);
              color: #000;
            }
        }

            .link__current {
              color: #000;
              transition: color $transition-timing-function;
            }

            .link__current::after {
              display: block;
              position: absolute;
              content: "";
              width: 100%;
              left: 0;
              bottom: -19px;
              border-radius: 2px;
              border-bottom: 4px solid $background-secondary;

              @media screen and (max-width: $max-mobile) {
                bottom: -5px;
              }
            }
    }

    &__list::after {
      display: block;
      position: absolute;
      content: "";
      width: 60%;
      bottom: -20px;
      border-radius: 2px;
      border-bottom: 1px solid #DCC9C0;
    }
  }

  &__sub-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    &__sub-item {
      position: absolute;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;

      &__vector {
        position: relative;
      }

      &__image {
        margin-right: 7px;
        width: auto;
      }
      .image--revert {
        margin-right: 0;
        margin-left: 7px;
      }

      &__text {
          padding: 5px;
          font-family: $font-family-body;
          font-weight: 500;
          font-size: 22.0357px;
          line-height: 1.134;
          display: flex;
          align-items: center;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          color: $text-color;
          cursor: pointer;
                    &:hover {
                        transform: scale(1.1);
                        color: #000;
                      }
      }

      .sub-item__wrapper {
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      .wrapper--caravan {
        top: 10px;
      }
      .wrapper--cheel {
        top: 10px;
      }
      .wrapper--vr {
            top: 40px;
      }



    }
    .item--caravan {
      bottom: -215px;
      left: -406px;
    }

    .item--chanel-zone {
      bottom: -299px;
      left: -406px;
    }

    .item--vr-zone {
      bottom: -520px;
      left: -406px;

    }

    .item--games {
      bottom: -215px;
      right: -1312px;
      flex-direction: row-reverse;
    }

    .item--children {
      bottom: -299px;
      right: -1312px;
      flex-direction: row-reverse;
    }
    
    .item--yoga {
      bottom: -520px;
      right: -1312px;
      flex-direction: row-reverse;
    }
  }


}
