.about {
  position: relative;
  width: 100%;
  @media screen and (max-width: $max-mobile) {
    padding-bottom: 29px;
  }

  @media screen and (min-width: $desktop) {
    padding-bottom: 4.4%;
  }

  &__wrapper {
    margin-left: auto;
    margin-right: auto;
    @media screen and (max-width: $max-mobile) {
      padding: 0;
      width: calc(100% - 40px);
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: space-between;
      justify-content: space-between;
      align-items: stretch;
    }
    &__transparenty {
      width: 100%;
      position: absolute;
      text-align: center;
      font-family: $font-family-title;
      color: $background-secondary;
      font-weight: $font-weight-body;

      text-transform: uppercase;
      opacity: 0.2;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      align-items: center;
      justify-content: space-between;

      @media screen and (max-width: $max-mobile) {
        font-size: 86px;
        line-height: 1.112;
        top: 0;
        left: 0;
        letter-spacing: 0.051em;
      }

      @media screen and (min-width: $desktop) {
        top: 0;
        // left: 25%;
        font-size: 233.125px;
        line-height: 1.11;
        letter-spacing: 0.08em;
      }
    }

    &__title {
      @media screen and (max-width: $max-mobile) {
        text-align: center;
        margin-bottom: 33px;
      }
      @media screen and (min-width: $desktop) {
        margin-bottom: 3%;
        padding-top: 36.7px;
      }

      &__text {
        letter-spacing: 0.035em;
        text-transform: uppercase;
        font-family: $font-family-title;
        font-weight: $font-weight-body;

        @media screen and (max-width: $max-mobile) {
          font-size: 46px;
          line-height: 1.1;
          margin-bottom: 10px;
        }

        @media screen and (min-width: $desktop) {
          font-size: 99.36px;
          line-height: 1.107;
          display: flex;
          align-items: center;
          flex-direction: column;
          flex-wrap: nowrap;
          align-content: center;
          justify-content: center;
        }
      }

      &__sub-title {
        font-weight: 500;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        @media screen and (max-width: $max-mobile) {
          font-size: 24px;
          line-height: 1.125%;
        }
        @media screen and (min-width: $desktop) {
          margin-top: 7px;
          font-size: 41.5928px;
          line-height: 1.105;
          text-align: center;
        }
      }
    }

    &__title__list {
      position: relative;
      @media screen and (max-width: $max-mobile) {
        margin-bottom: 35px;
        align-items: center;
      }
      @media screen and (min-width: $desktop) {
        margin-left: auto;
        margin-right: auto;
        width: calc(100% - 1024px);
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        align-content: center;
      }

      &__item {
        white-space: nowrap;
        text-align: justify;
        @media screen and (max-width: $max-mobile) {
        }
        @media screen and (min-width: $desktop) {
        }
      }

      .item__link {
        @media screen and (max-width: $max-mobile) {
          font-weight: 400;
          font-size: 8px;
          line-height: 1.125;
          color: #000000;
          text-align: justify;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          cursor: pointer;
          transition: color $transition-timing-function;

          &:hover {
            transform: scale(1.1);
          }
        }

        @media screen and (min-width: $desktop) {
          font-weight: 500;
          font-size: 24px;
          line-height: 1.125;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          color: #747474;
          cursor: pointer;
          transition: color $transition-timing-function;

          &:hover {
            transform: scale(1.1);
            color: #000;
          }
        }
      }

      .link__current:focus:checked:hover {
        font-weight: $font-weight-bold;
        color: #000;
        transition: color $transition-timing-function;
      }

      .link__current::after {
        display: block;
        position: absolute;
        content: '';
        width: 100%;
        left: 0;
        border-radius: 2px;

        @media screen and (max-width: $max-mobile) {
          width: 37px;
          bottom: -4px;
          border-bottom: 3px solid $background-secondary;
        }

        @media screen and (min-width: $desktop) {
          width: 135px;
          bottom: -19px;
          border-bottom: 4px solid $background-secondary;
        }
      }
    }

    &__title__list::after {
      @media screen and (max-width: $max-mobile) {
        bottom: -4px;
      }
      display: block;
      position: absolute;
      content: '';
      width: -webkit-fill-available;
      bottom: -20px;
      border-radius: 2px;
      border-bottom: 1px solid #dcc9c0;
      text-align: center;
    }
  }
}

.couple {
  @media screen and (max-width: $max-mobile) {
  }

  @media screen and (min-width: $desktop) {
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 176px);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-between;
    align-items: stretch;
  }

  &__image {
    width: 100%;
    @media screen and (max-width: $max-mobile) {
      display: flex;
      align-items: center;
      align-content: center;
      flex-direction: row-reverse;
      flex-wrap: nowrap;
      justify-content: flex-end;
    }
    @media screen and (min-width: 380px) {
      justify-content: center;
    }
    @media screen and (min-width: $desktop) {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
      align-items: flex-end;
    }
    &__big {
      @media screen and (max-width: $max-mobile) {
        // transform: translate(-8px, 0);
        // margin-right: auto;
        // margin-left: auto;
        width: inherit;
        height: inherit;
        mix-blend-mode: multiply;
        transform: translate(-20px, 0px);
      }

      @media screen and (min-width: $desktop) {
        // position: absolute;
        // z-index: 2;
        mix-blend-mode: multiply;
        width: inherit;
        height: inherit;

        @media screen and (min-width: 1740px) {
          // margin-left: 21%;
          // top: -11%;
          // left: 13%;
          // width: auto;
        }
      }
    }

    &__small {
      @media screen and (max-width: $max-mobile) {
        // position: absolute;
        width: inherit;
        height: inherit;
        z-index: 2;
        mix-blend-mode: multiply;
        transform: translate(-110px, 50px);
      }
      @media screen and (min-width: $desktop) {
        width: inherit;
        height: inherit;
        z-index: 2;
        mix-blend-mode: multiply;
        @media screen and (min-width: 1740px) {
          // margin-left: -4.5%;
          // width: auto;
        }
      }
    }
  }

  &__wrapper {
    @media screen and (max-width: $max-mobile) {
      display: flex;
    }
    @media screen and (min-width: $desktop) {
      position: absolute;
      display: flex;
      align-items: center;
      align-content: center;
    }

    &__image {
      margin-right: 7px;
      width: inherit;
      height: inherit;
      @media screen and (max-width: $max-mobile) {
      }
    }

    &__text {
      padding: 5px;
      display: flex;
      align-items: center;
      letter-spacing: 0.05em;
      font-family: $font-family-body;
      font-weight: 500;
      text-transform: uppercase;
      color: $text-color;
      cursor: pointer;
      &:hover {
        transform: scale(1.1);
        color: #000;
      }
      @media screen and (max-width: $max-mobile) {
        font-size: 11px;
        line-height: 1.111;
      }
      @media screen and (min-width: $desktop) {
        font-size: 22.0357px;
        line-height: 1.134;
      }
    }
  }

  &__left-list {
    @media screen and (max-width: $max-mobile) {
      align-items: baseline;
    }
    @media screen and (min-width: $desktop) {
      padding-top: 8%;
      display: flex;
      flex-direction: column;
    }

    &__item {
      @media screen and (max-width: $max-mobile) {
        &:not(:last-child) {
          margin-bottom: 25px;
        }
      }
      @media screen and (min-width: $desktop) {
        position: relative;
      }
      &__vector {
        @media screen and (max-width: $max-mobile) {
          display: none;
        }
        @media screen and (min-width: $desktop) {
          display: block;
          width: auto;
        }
      }
    }
  }

  &__right-list {
    @media screen and (max-width: $max-mobile) {
      align-items: baseline;
    }
    @media screen and (min-width: $desktop) {
      padding-top: 8%;
      display: flex;
      flex-direction: column;
    }

    &__item {
      @media screen and (max-width: $max-mobile) {
        &:not(:last-child) {
          margin-bottom: 25px;
        }
        justify-content: flex-start;
      }
      @media screen and (min-width: $desktop) {
        position: relative;
        display: flex;
      }
      &__vector {
        @media screen and (max-width: $max-mobile) {
          display: none;
        }
        @media screen and (min-width: $desktop) {
          display: block;
          width: auto;
        }
      }
    }
  }

  .couple--wrapper--revert {
    @media screen and (max-width: $max-mobile) {
      flex-direction: row-reverse;
      display: flex;
    }
    @media screen and (min-width: $desktop) {
      justify-content: flex-end;
    }
  }

  .image--revert {
    margin-right: 0;
    margin-left: 7px;
  }
  @media screen and (min-width: $desktop) {
    .wrapper--caravan {
      top: 10%;
    }

    .wrapper--vr {
      top: 40%;
    }

    .item--primary {
      margin-bottom: 25%;
      width: max-content;
    }

    .item--primary-revert {
      margin-bottom: 26%;
    }

    .item--secondary {
      margin-bottom: 32%;
    }

    .item--secondary--secondary {
      margin-bottom: 31%;
    }
  }
}

@media screen and (max-width: $max-mobile) {
  .couple {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(9, 5vw);
    grid-gap: 25px;
    align-items: stretch;
    justify-items: center;
    justify-content: space-between;
    align-content: space-between;
  }

  .couple__left-list {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 10;
  }
  .couple__image {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
  }
  .couple__right-list {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 10;
  }
}

@media screen and (min-width: $desktop) {
  .couple {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(6, 5vw);
    align-items: center;
  }

  .couple__left-list {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 17;
  }
  .couple__image {
    grid-column-start: 3;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 7;
  }
  .couple__right-list {
    grid-column-start: 10;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 7;
  }
}
