.about {
  width: 100%;

  &__wrapper {
    position: relative;

    &__title {
      margin-bottom: 3%;
      font-family: $font-family-title;
      font-weight: $font-weight-body;
      font-size: 99.36px;
      line-height: 1.107;
      display: flex;
      align-items: center;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
      letter-spacing: 0.035em;
      text-transform: uppercase;

      &__sub-title {
        margin-top: 7px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 41.5928px;
        line-height: 1.105;
        letter-spacing: 0.05em;
      }
    }

    &__title__list {
      position: relative;
      margin-left: auto;
      margin-right: auto;
      width: calc(100% - 30%);
      margin-bottom: 5%;
      text-align: center;

      &__item {
        position: relative;
        &:not(:last-child) {
          margin-right: 3%;
        }
      }

      .item__link {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 24px;
        line-height: 1.125;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #747474;
        cursor: pointer;
        transition: color $transition-timing-function;

        &:hover {
          transform: scale(1.1);
          color: #000;
        }
      }

      .link__current {
        color: #000;
        transition: color $transition-timing-function;
      }

      .link__current::after {
        display: block;
        position: absolute;
        content: '';
        width: 100%;
        left: 0;
        bottom: -19px;
        border-radius: 2px;
        border-bottom: 4px solid $background-secondary;

        @media screen and (max-width: $max-mobile) {
          bottom: -5px;
        }
      }
    }

    &__title__list::after {
    display: block;
      position: absolute;
      content: "";
      width: -webkit-fill-available;
      bottom: -20px;
      border-radius: 2px;
      border-bottom: 1px solid #dcc9c0;
      text-align: center;
    }
  }
}

.couple {
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 176px);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: space-between;
  align-items: stretch;

      &__image {
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: flex-end;

          &__big {
            position: absolute;
            z-index: 2;
            mix-blend-mode: multiply;
            @media screen and (min-width: 1740px) {
              margin-left: 21%;
                top: -11%;
                left: 13%;
                width: auto;
               }
            }
          
          &__small {
       
              z-index: 2;
              mix-blend-mode: multiply;
              @media screen and (min-width: 1740px) { 
              margin-left: -4.5%;
                width: auto;

              }
            }
        }

  &__wrapper {
    position: absolute;
    display: flex;
    align-items: center;
    align-content: center;
    

    &__image {
      margin-right: 7px;
      width: auto;
    }

    &__text {
      padding: 5px;
      font-family: $font-family-body;
      font-weight: 500;
      font-size: 22.0357px;
      line-height: 1.134;
      display: flex;
      align-items: center;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: $text-color;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
        color: #000;
      }
    }
  }


  &__left-list {
    
    display: flex;
    flex-direction: column;

    &__item {
      position: relative;



      &__vector {
        width: auto;

      }
    }
  }

  &__right-list {
      display: flex;
      flex-direction: column;

      &__item {
        position: relative;
        display: flex;
        justify-content: flex-end;

        }
  }

  .image--revert {
    margin-right: 0;
    margin-left: 7px;
  }

  .wrapper--caravan {
    top: 10%;
  }

  // .wrapper--cheel {
  // }
  .wrapper--vr {
    top: 40%;
  }
}

.item--primary {
  margin-bottom: 22%;
}

.item--primary-revert {
 margin-bottom: 26%;
}

.item--secondary {
  margin-bottom: 30%;
}

.item--secondary--secondary {
  margin-bottom: 31%;
}
// .item--tertiary {
// }

