.header {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    background: $background-body-color;
        @media screen and (max-width: $max-mobile) {
            position: fixed;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 50;
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 3;
            }
        }
    @media screen and (min-width: $tablet){
       padding-top: 15px;
       padding-bottom: 15px;
    }
    @media screen and (min-width: $desktop) {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    &__box { 
        position: relative;
        width: 100%;
        height: 60px;
        
        @media screen and (max-width: $max-mobile) {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-content: center;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__logo {
        @media screen and (max-width: $max-mobile) {
        display: block;
        position: relative;
        z-index: 3;
        }
    }

    &__logo--small {
        width: auto;
        display: block;
        position: relative;
        z-index: 3;
        @media screen and (min-width: $tablet) {
            display: none;
        }
    }

    &__logo--big {
        display: none;
        width: 122px;
        height: 182px;
        fill: currentColor;
        color: $color-menu;
        border-radius: 57.5px;
        @media screen and (min-width: $tablet) {
            display: block;
            position: absolute;
            left: -20%;
            top: 30%;
        }
        @media screen and (min-width: $desktop) {
            left: -20%;
        }
    }

    &__logo--burger  {
        width: auto;
        display: none;
        position: relative;
        z-index: 3;
        @media screen and (min-width: $tablet) {
                display: none;
                transform: scale(0);
        }
    }

    &__burger {
        display: none;

        @media screen and (max-width: $max-mobile) {
            display: block;
            position: relative;
            width: 30px;
            height: 20px;
            z-index: 3;

            &:before {
                content: '';
                background-color: $color-menu;
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                top: 0;
                z-index: 2;
                border-radius: 80%;
            }

            &:after {
                content: '';
                background-color: $color-menu;
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                bottom: 0;
            }
        }
    }

    &__burger.active span {
        transform: scale(0);
    }

    &__burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }

    &__burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    &__burger span {
        position: absolute;
        background-color: $color-menu;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: 400ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__navigation {
        @media screen and (max-width: $max-mobile) {
            padding: 135px 10px 30px 10px;
            position: fixed;
            width: 100%;
            top: -1000%;
            left: 0;
            overflow: auto;
            background-color: $background-body-color;
            // background: linear-gradient(323.19deg, rgb(255 83 18 / 32%), rgb(27 192 243 / 17%));
            transition: 400ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        @media screen and (min-width: $tablet) {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: space-between;
            align-items: stretch;
        }

        &__list {
                @media screen and (max-width: $max-mobile) {
                margin-bottom: 80px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
                @media screen and (min-width: $desktop) {
                    display: flex;
                    align-items: center;
                }

            &__item {
                padding: 5px;

                @media screen and (min-width: $tablet) {
                    padding: 15px 10px;
                }

                &:not(:last-child) {
                    @media screen and (max-width: $max-mobile) {
                        margin-bottom: 10px;
                    }

                    @media screen and (min-width: $tablet) and (max-width: $max-tablet) {
                        margin-right: 5px;
                    }

                    @media screen and (min-width: $desktop) {
                        margin-right: 10px;
                    }
                }

                .item__link {
                    position: relative;
                    font-size: $font-size-body;
                    font-weight: $font-weight-body;
                    line-height: 1.2;
                    color: $text-color;
                    transition: color $transition-timing-function;

                    @media screen and (max-width: $max-mobile) {

                    }

                    @media screen and (min-width: $tablet) and (max-width: $max-tablet) {

                    }

                    &:hover {
                        transform: scale(1.1);
                        color: $background-body-color;
                    }
                }

                .link__current {
                    color: #000;
                    transition: color $transition-timing-function;
                }

                .link__current::after {
                    display: block;
                    position: absolute;
                    content: "";
                    width: 100%;
                    left: 0;
                    bottom: -10px;
                    border-radius: 2px;
                    border-bottom: 1px solid $text-color;

                    @media screen and  (max-width: $max-mobile) {
                        bottom: -5px;
                    }
                }
            }
        }

        &__select {
            display: flex;

            @media screen and (max-width: $max-mobile) {
                position: relative;
                margin-bottom: 50px;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                align-content: center;
                align-items: center;
                justify-content: center;
            }

            @media screen and (min-width: $tablet) {
                margin-right: 50px;
            }

            @media screen and (min-width: $tablet) {
            }

            .select__box {
                @media screen and (max-width: $max-mobile) {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    align-content: center;
                    justify-content: center;
                }

                &__text {
                    margin-left: 22px;
                    margin-bottom: 2px;
                    font-weight: $font-weight-secondary;
                    font-size: 9px;
                    line-height: 1.22;
                    // text-align: center;
                }

                &__btn {
                    width: 173px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    font-family: $font-family-body;
                    font-weight: $font-weight-secondary;
                    font-size: $font-size-btn;
                    line-height: 1.21;
                    color: $color-btn;
                    background: $background-accent;
                    border-radius: 7.6px;
                    border: none;
                }

                &__list {
                    display: none;
                    position: absolute;
                    top: 85%;
                    padding: 0 10px;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: space-between;
                    align-content: flex-start;
                    align-items: flex-start;
                }

                &__list__item {
                    padding: 10px 5px;
    
                    &:not(:last-child) {
                        margin-right: 10px;
                    }
                }

                &__list__item__link {
                    color: $text-color;
                    transition: color $transition-timing-function;
                    cursor: pointer;

                    &:hover {
                        transform: scale(1.1);
                        color: $background-body-color;
                    }
                }
            }
        }

        &__select::after {
            @media screen and (max-width: $max-mobile) {
                display: block;
                position: absolute;
                content: "";
                width: 100%;
                left: 0;
                bottom: -25px;
                border-radius: 2px;
                border-bottom: 1px solid $color-menu;
            }

        }

        &__social__list {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            // align-items: baseline;
            align-items: center;

            &__item {
                padding: 10px 5px;
                &:not(:last-child) {
                    margin-right: 10px;
                }

                .item__link {
                    color: $text-color;
                    transition: color $transition-timing-function;
                    cursor: pointer;
                }
            }

        }

        &__language {
            @media screen and (max-width: $max-mobile) {
                display: none;
            }
            @media screen and (min-width: $tablet) {
                margin-left: 15px;
                padding: 5px;
                display: flex;
                align-items: center;
                letter-spacing: 0.05em;
                font-weight: 500;
                font-size: 24px;
                line-height: 1.12;
                cursor: pointer;
            }
        }
    }
    &__navigation.active {
        top: 0;
    }

    .item--bg {
          &:hover,
          &:focus {
            background: $background-accent;
            box-shadow: $box-shadow-button;
          }
      }

    .select--item--bg {

        &:hover,
        &:focus {
            background: $background-btn;
            box-shadow: $box-shadow-button;
        }
    }

    .item__icon {
        width: 24px;
        height: 24px;
        vertical-align: sub;
        fill: currentColor;
        cursor: pointer;
        transition: color $transition-timing-function;

        &:hover {
            transform: scale(1.1);
        }
    }

    .icon-question {
        vertical-align: middle;
        color: $background-secondary;
        &:hover {
            color: $text-color;
        }
    }

    .icon-open {
        position: relative;
        width: 16px;
        height: 9px;
        transition: color 400ms cubic-bezier(0.4, 0, 0.2, 1); 
    }

    .icon-instagram:hover {
        color: #ff2f6e;
    }

    .icon-tiktok:hover {
        color: red;
        background: black;
    }

    .icon-youtube:hover {
        color: red;
    }

    .icon-facebook:hover {
        color: rgb(0, 81, 255);
    }
    #language {
        @media screen and (max-width: $max-mobile) {
        margin: 0;
        display: none;
        z-index: 1;
        font-weight: 500;
        font-size: 17px;
        line-height: 1.12;
        letter-spacing: 0.05em;
        cursor: pointer;
        }
         @media screen and (min-width: $tablet) {
            display: none;
            transform: scale(0);
         }
    }

    #select__box__btn:hover #icon-open {
        color: $text-color;
        transform: rotate(180deg);
    }

}
