.header {
  position: relative;

  background: $background-body-color;
  @media screen and (max-width: $max-mobile) {
    position: fixed;
    padding-top: 13px;
    padding-bottom: 13px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 3;
    }
  }
  @media screen and (min-width: $tablet) {
  }
  @media screen and (min-width: $desktop) {
    padding-top: 18px;
    padding-bottom: 27px;
    width: calc(100% - 68px);
  }

  &__logo {
    @media screen and (max-width: $max-mobile) {
      display: block;
      position: relative;
      z-index: 3;
    }

    @media screen and (min-width: $desktop) {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: calc(100% - 1520px);
    }
  }

  &__logo--small {
    display: block;
    position: relative;
    z-index: 3;
    width: 75.55px;
    height: 33.33px;

    @media screen and (min-width: $tablet) {
      display: none;
    }
  }

  &__logo--big {
    display: none;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 164px;
    height: 237px;
    fill: currentColor;
    color: $color-menu;
    z-index: 1;

    @media screen and (min-width: $tablet) {
      display: block;
      // position: absolute;
      // left: -20%;
      // top: 30%;
    }

    @media screen and (min-width: $desktop) {
      // left: 5%;
    }
  }

  &__logo--burger {
    width: 54px;
    height: 54px;
    display: none;
    position: relative;
    z-index: 3;

    @media screen and (min-width: $tablet) {
      display: none;
      transform: scale(0);
    }
  }

  &__box {
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: baseline;

    @media screen and (max-width: $max-mobile) {
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
      // height: 60px;
    }
    @media screen and (min-width: $tablet) {
      margin-left: 17%;
    }
  }

  &__burger {
    display: none;

    @media screen and (max-width: $max-mobile) {
      padding: 5px;
      display: block;
      position: relative;
      width: 26px;
      height: 28px;
      z-index: 3;
      transition: 450ms cubic-bezier(0.4, 0, 0.2, 1);
      transform: translate(4px, 0px);
    }
  }

  // &__burger {
  //     display: none;

  //     @media screen and (max-width: $max-mobile) {
  //         display: block;
  //         position: relative;
  //         width: 30px;
  //         height: 20px;
  //         z-index: 3;

  //         &:before {
  //             content: '';
  //             background-color: $color-menu;
  //             position: absolute;
  //             width: 100%;
  //             height: 2px;
  //             left: 0;
  //             top: 0;
  //             z-index: 2;
  //             border-radius: 80%;
  //         }

  //         &:after {
  //             content: '';
  //             background-color: $color-menu;
  //             position: absolute;
  //             width: 100%;
  //             height: 2px;
  //             left: 0;
  //             bottom: 0;
  //         }
  //     }
  // }

  // &__burger.active span {
  //     transform: scale(0);
  // }

  // &__burger.active:before {
  //     transform: rotate(45deg);
  //     top: 9px;
  // }

  // &__burger.active:after {
  //     transform: rotate(-45deg);
  //     bottom: 9px;
  // }

  // &__burger span {
  //     position: absolute;
  //     background-color: $color-menu;
  //     left: 0;
  //     width: 100%;
  //     height: 2px;
  //     top: 9px;
  //     transition: 400ms cubic-bezier(0.4, 0, 0.2, 1);
  // }

  &__navigation {
    @media screen and (max-width: $max-mobile) {
      padding: 135px 10px 27px 10px;
      position: fixed;
      width: 100%;
      top: -1000%;
      left: 0;
      overflow: auto;
      background-color: $background-body-color;
      transition: 450ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    @media screen and (min-width: $tablet) {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: space-between;
      align-items: flex-end;
    }

    &__list {
      @media screen and (max-width: $max-mobile) {
        margin-bottom: 82px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      @media screen and (min-width: $desktop) {
        margin-right: auto;
        width: 60%;
        display: flex;
        align-items: center;
      }

      &__item {
        padding: 5px;

        @media screen and (min-width: $tablet) {
          padding: 5px 5px;
        }

        &:not(:last-child) {
          @media screen and (max-width: $max-mobile) {
            margin-bottom: 10px;
          }

          @media screen and (min-width: $tablet) and (max-width: $max-tablet) {
            margin-right: 5px;
          }

          @media screen and (min-width: $desktop) {
            // margin-right: 22px;
            margin-right: calc(15% / 6);
          }
        }

        .item__link {
          position: relative;
          font-size: $font-size-body;
          font-weight: $font-weight-body;
          line-height: 1.219;
          color: $text-color;
          transition: color $transition-timing-function;
          backface-visibility: hidden;
          &:hover {
            transform: scale(1.05);
            // transform: line-height(2);
            color: 0000;
            backface-visibility: hidden;
          }

          @media screen and (max-width: $max-mobile) {
          }

          @media screen and (min-width: $tablet) and (max-width: $max-tablet) {
          }
        }

        .link__current {
          color: #000;
          transition: color $transition-timing-function;
        }

        .link__current::after {
          display: block;
          position: absolute;
          content: '';
          width: 100%;
          left: 0;
          bottom: -5px;
          border-radius: 2px;
          border-bottom: 1px solid $text-color;

          @media screen and (max-width: $max-mobile) {
            bottom: -5px;
          }
        }
      }
    }

    &__select {
      display: flex;
      align-items: flex-end;

      @media screen and (max-width: $max-mobile) {
        position: relative;
        margin-bottom: 55px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
        justify-content: center;
      }

      @media screen and (min-width: $tablet) {
        margin-right: 53px;
      }

      @media screen and (min-width: $tablet) {
      }

      .select__box {
        @media screen and (max-width: $max-mobile) {
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          align-content: center;
          justify-content: center;
        }

        &__text {
          margin-left: 22px;
          margin-bottom: 3px;
          font-weight: $font-weight-secondary;
          font-size: 9px;
          line-height: 1.22;
          // text-align: center;
        }

        &__btn {
          width: 173px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: space-around;
          font-family: $font-family-body;
          font-weight: $font-weight-secondary;
          font-size: $font-size-btn;
          line-height: 1.21;
          color: $color-btn;
          background: $background-accent;
          border-radius: 7.6px;
          border: none;
        }

        &__list {
          display: none;
          position: absolute;
          top: 85%;
          padding: 0 10px;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: space-between;
          align-content: flex-start;
          align-items: flex-start;
        }

        &__list__item {
          padding: 10px 5px;

          &:not(:last-child) {
            margin-right: 10px;
          }
        }

        &__list__item__link {
          color: $text-color;
          transition: color $transition-timing-function;
          cursor: pointer;

          &:hover {
            transform: scale(1.2);
            // color: $background-body-color;
          }
        }
      }
    }

    &__select::after {
      @media screen and (max-width: $max-mobile) {
        display: block;
        position: absolute;
        content: '';
        width: 100%;
        left: 0;
        bottom: -26px;
        border-radius: 2px;
        border-bottom: 1px solid $color-menu;
      }
    }

    &__social__list {
      @media screen and (max-width: $max-mobile) {
        justify-content: space-evenly;
      }
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;

      &__item {
        &:not(:last-child) {
          padding: 5px;
          margin-right: 24px;
        }

        .item__link {
          color: $text-color;
          transition: color $transition-timing-function;
          cursor: pointer;
        }
      }
    }

    &__language {
      @media screen and (max-width: $max-mobile) {
        display: none;
      }
      @media screen and (min-width: $tablet) {
        margin-right: 20px;
        padding: 2px;
        display: flex;
        align-items: center;
        letter-spacing: 0.05em;
        font-weight: 500;
        font-size: 24px;
        line-height: 1.12;
        cursor: pointer;
      }
    }
  }
  &__navigation.active {
    top: 0;
  }

  .item--bg {
    &:hover,
    &:focus {
      transform: scale(1.025);
      transform-origin: 100% 0;
      // color: $background-body-color;
      // background: $background-accent;
      // box-shadow: $box-shadow-button;
    }
  }

  .select--item--bg {
    &:hover,
    &:focus {
      transform: scale(1.1);
      // background: $background-btn;
      // box-shadow: $box-shadow-button;
    }
  }

  .item__icon {
    width: 24px;
    height: 24px;
    vertical-align: sub;
    fill: currentColor;
    cursor: pointer;
    transition: color $transition-timing-function;

    &:hover {
      transform: scale(1.1);
    }
  }

  .icon-question {
    @media screen and (max-width: $max-mobile) {
      vertical-align: bottom;
    }

    margin-right: 9px;
    color: $text-color;
    &:hover {
      color: 0000;
    }
  }

  .icon-open {
    position: relative;
    width: 15.76px;
    height: 9px;
    transition: color 800ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  // .icon-instagram:hover {
  //     color: #ff2f6e;
  // }

  // // .icon-tiktok {
  // //     color: white;
  // // }
  // .icon-tiktok:hover {
  //     color: red;
  //  }

  // .icon-youtube:hover {
  //     color: red;
  // }

  // .icon-facebook:hover {
  //     color: rgb(0, 81, 255);
  // }
  #language {
    @media screen and (max-width: $max-mobile) {
      margin: 0;
      display: none;
      z-index: 1;
      font-weight: 500;
      font-size: 17px;
      line-height: 1.12;
      letter-spacing: 0.05em;
      cursor: pointer;
    }
    @media screen and (min-width: $tablet) {
      display: none;
      transform: scale(0);
    }
  }

  #select__box__btn:hover #icon-open {
    color: $text-color;
    transform: rotate(180deg);
  }
}

// .menu-button .burger-close{
//     display: none;
// }

// .menu-button.is-open .burger-close {
//     display: block;
// }

// .menu-button.is-open .header__burger{
//     display: none;
// }
