.overlay-project {
  width: 100%;
  position: relative;
  overflow: hidden;
  &:hover .hero-overlay,
  &:focus .hero-overlay {
  transform: translateY(0%);
  }
  @media screen and (min-width: $tablet) and (max-width: $max-tablet) {
  display: flex;
  width: 50%;
  }
}

.hero-overlay {
  position: absolute;
  // height: 50%;
  top: 25%;
  overflow: hidden;
  transform: translateX(-1000%);
  box-sizing: border-box;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
@media screen and (max-width: $max-mobile) {
  top: 55%;
    // height: 100%;
  }
  @media screen and (min-width: $tablet) and (max-width: $max-tablet) {
  top: 50%;
  width: 50%;
  height: 50%;
  }
}
