.picture {
  width: 100%;
  padding-bottom: 4%;

  &__image {
  max-width: 100%;
    cursor: pointer;
    transition: transform 3s;
  }

  &__wrapper {
    display: flex;
  }

  .picture__wrapper--style {
    overflow: hidden;
  }
    .picture__wrapper--style:hover .picture__image {
        transform: scale(1.1);
     }
}
