.places {
  @media screen and (max-width: $max-mobile) {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 47px;
  }
  @media screen and (min-width: $desktop) {
    padding-bottom: 63px;
    padding-left: 90px;
    padding-right: 90px;
  }

  &__wrapper {
    @media screen and (max-width: $max-mobile) {
      padding-right: 0px;
      padding-left: 0px;
      display: flex;
      flex-direction: column;
    }

    @media screen and (min-width: $desktop) {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: stretch;
    }

    &__title {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: flex-start;
      justify-content: center;
      align-items: flex-start;
      @media screen and (max-width: $max-mobile) {
        padding-left: 20px;
        padding-right: 20px;
      }
      @media screen and (min-width: $desktop) {
        width: calc(100% - 1294px);
        max-width: 426px;
      }

      &__name {
        margin-bottom: 8px;
        display: flex;
        align-items: center;
        letter-spacing: 0.035em;
        text-transform: uppercase;
        font-family: $font-family-title;
        font-weight: $font-weight-body;
        color: $text-color;
        @media screen and (max-width: $max-mobile) {
          font-size: 46px;
          line-height: 1.1;
        }
        @media screen and (min-width: $desktop) {
          font-size: 99.3641px;
          line-height: 1.04;
        }
      }

      &__description {
        display: flex;
        align-items: center;
        letter-spacing: 0.05em;
        font-family: $font-family-body;
        font-weight: 500;
        text-transform: uppercase;
        color: $text-color;
        @media screen and (max-width: $max-mobile) {
          display: contents;

          font-size: 24px;
          line-height: 1.125%;
          min-height: 54px;
        }

        @media screen and (min-width: $desktop) {
          margin-bottom: 163px;
          font-size: 41.5928px;
          line-height: 1.105;
        }
      }
      @media screen and (max-width: $max-mobile) {
        .place--btn--mob {
          display: flex;
        }
        .place--btn--desk {
          display: none;
        }
      }
      @media screen and (min-width: $desktop) {
        .place--btn--mob {
          display: none;
        }
        .place--btn--desk {
          display: flex;
        }
      }

      &__btn {
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.035em;
        text-transform: uppercase;
        font-family: $font-family-body;
        font-weight: 500;
        color: $color-btn;
        background: $background-btn;
        border: none;
        transition: $transition-timing-function;
        @media screen and (max-width: $max-mobile) {
          margin-top: 22px;
          margin-bottom: 26px;
          margin-left: auto;
          padding: 12px 15.5px;
          font-size: 14px;
          line-height: 1.124;
        }
        @media screen and (min-width: $desktop) {
          margin-left: 163px;
          padding: 15px 52px;
          width: 183px;
          font-size: 15px;
          line-height: 1.2;
        }
        &:hover {
          transform: scale(1.1);
        }
      }
    }

    .places__gallery-mob {
      display: flex;
    }

    .places__wrapper__gallery--mob {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-content: space-between;
      align-items: stretch;
    }

    @media screen and (max-width: $max-mobile) {
      .mob--hidden {
        display: none;
      }
    }
    @media screen and (min-width: $tablet) {
      .mob--hidden {
        display: flex;
      }
    }
    &__gallery {
      padding: 0;
      max-width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: space-around;
      align-items: stretch;
      overflow: hidden;
      // height: fit-content;

      .places__image {
        @media screen and (max-width: $max-mobile) {
          min-height: 277px;
        }
        max-width: 100%;

        cursor: pointer;
        transition: transform 3s;
        background: linear-gradient(
          180deg,
          rgba(58, 54, 52, 0) 69.27%,
          #3a3634 94.79%
        );
      }
    }
  }
  .places__wrapper__gallery:hover .places__image {
    transform: scale(1.1);
  }
}

.gallery-mob__overlay {
  position: absolute;
  display: none;
  padding-top: 16px;
  padding-right: 19px;
  padding-left: 19px;
  padding-bottom: 17px;
  max-width: 260px;
  width: 100%;
  min-width: 260px;
  max-height: 277px;
  height: 100%;
  background: #2e2b20;
  opacity: 0.68;
  &__count {
    margin-right: 12px;
    font-weight: $font-weight-bold;
    font-size: 16px;
    line-height: 1.125;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #ffde3a;
  }
  &__title {
    margin-bottom: 13px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.125;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $background-body-color;
  }
  &__option {
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    font-weight: $font-weight-bold;
    font-size: 11.5556px;
    line-height: 1.211;
    letter-spacing: 0.035em;
    color: $background-body-color;

    .overlay__option__item {
      position: relative;
      &:not(:last-child) {
        &:after {
          content: '';
          width: 4px;
          height: 4px;
          position: absolute;
          right: 0;
          top: 50%;
          margin: -2px -9px 0 0;
          border-radius: 50%;
          background-color: $background-body-color;
        }
      }
    }
  }
  &__description {
    margin-bottom: 16px;
    font-weight: 300;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.035em;
    color: $background-body-color;
  }
  &__btn {
    margin-left: auto;
    padding-top: 6px;
    padding-bottom: 7px;
    padding-right: 19px;
    padding-left: 19px;
    font-weight: 500;
    font-size: 10px;
    line-height: 1.2;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.035em;
    text-transform: uppercase;
    color: $color-btn;
    border: 0.948952px solid $color-btn;
    background: #2e2b20;
    opacity: 0.68;
  }
}

.gallery-mob__overlay__view-select {
  margin-bottom: 13px;
  padding-top: 10px;
  border-top: 1px solid $color-btn;
  padding-bottom: 10px;
  border-radius: 2px;
  border-bottom: 1px solid $color-btn;
  text-align: center;
}
.view-select__list {
  &__item {
    text-align: center;
    &__icon {
      width: auto;
    }
    &__text {
      font-weight: 500;
      font-size: 10px;
      line-height: 1.2;
      text-align: center;
      letter-spacing: 0.035em;
      color: $background-body-color;
    }
  }
}

@media screen and (max-width: $max-mobile) {
  .gallery-mob__overlay {
    display: block;
  }
}
