.places {
  padding-bottom: 63px;
  width: calc(100% - 180px);
  margin-right: auto;
  margin-left: auto;

  &__wrapper {
        display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: space-between;
          align-items: stretch;


    &__title {
          width: calc(100% - 1293px);
          display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-content: flex-start;
            justify-content: center;
            align-items: flex-start;

      &__name {
        margin-bottom: 8px;
        font-family: $font-family-title;
          font-weight: $font-weight-body;
          font-size: 99.3641px;
          line-height: 1.04;  
          display: flex;
          align-items: center;
          letter-spacing: 0.035em;
          text-transform: uppercase;       
          color: $text-color;

        }

        &__description {
          margin-bottom: 168px;
          font-family: $font-family-body;
            font-weight: 500;
            font-size: 41.5928px;
            line-height: 1.105;
            display: flex;
            align-items: center;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: $text-color;
        }

        &__btn {
          margin-left: 163px;
          padding: 15px 52px;
           width: 183px;
          font-family: $font-family-body;
            font-weight: 500;
            font-size: 15px;
            line-height: 1.2;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.035em;
            text-transform: uppercase;         
            color: $color-btn;
            background: $background-btn;
            border: none;
            transition: $transition-timing-function;

            &:hover {
              transform: scale(1.1);
              
            }
        }

    }

    &__gallery {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: space-around;
      align-items: stretch;
      overflow: hidden;
        

        .places__image {
            max-width: 100%;
            cursor: pointer;
            transition: transform 3s;
            background: linear-gradient(180deg, rgba(58, 54, 52, 0) 69.27%, #3A3634 94.79%);
          }
    }
  }
    .places__wrapper__gallery:hover .places__image{
        transform: scale(1.1);

    }
}
