@charset "UTF-8";
/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
    line-height: 1.15;
 /* 1 */
    -webkit-text-size-adjust: 100%;
 /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
    margin: 0;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
    height: 0;
 /* 1 */
    color: inherit;
 /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
    font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
    font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
 /* 1 */
    font-size: 1em;
 /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
    font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
    text-indent: 0;
 /* 1 */
    border-color: inherit;
 /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
 /* 1 */
    font-size: 100%;
 /* 1 */
    line-height: 1.15;
 /* 1 */
    margin: 0;
 /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
    text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
    -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
    outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
    box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
    padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
    vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
    -webkit-appearance: textfield;
 /* 1 */
    outline-offset: -2px;
 /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
    -webkit-appearance: button;
 /* 1 */
    font: inherit;
 /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
    display: list-item;
}

ul,
li,
p,
h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
}

a,
a:visited {
    text-decoration: none;
    font-style: normal;
}

button {
    font-family: inherit;
    cursor: pointer;
}

body {
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
}

.full_document {
    margin-left: auto;
    margin-right: auto;
    max-width: 1920px;
    font-family: font-family-body;
    color: #0A2936;
    background-color: #FFFFFF;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (min-width: 480px) {
    .container {
        width: 480px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}

@media screen and (max-width: 767px) {
    body.lock {
        overflow: hidden;
    }
}

.header {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #FFFFFF;
}

@media screen and (max-width: 767px) {
    .header {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 50;
    }

    .header:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
    }
}

@media screen and (min-width: 768px) {
    .header {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

@media screen and (min-width: 1200px) {
    .header {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.header__box {
    position: relative;
    width: 100%;
    height: 60px;
}

@media screen and (max-width: 767px) {
    .header__box {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
        justify-content: space-between;
    }
}

@media screen and (max-width: 767px) {
    .header__logo {
        display: block;
        position: relative;
        z-index: 3;
    }
}

.header__logo--small {
    width: auto;
    display: block;
    position: relative;
    z-index: 3;
}

@media screen and (min-width: 768px) {
    .header__logo--small {
        display: none;
    }
}

.header__logo--big {
    display: none;
    background: #B59C93;
    border-radius: 57.5px;
}

@media screen and (min-width: 768px) {
    .header__logo--big {
        display: block;
        position: absolute;
        left: -20%;
        top: 30%;
        width: auto;
    }
}

@media screen and (min-width: 1200px) {
    .header__logo--big {
        left: -20%;
    }
}

.header__logo--burger {
    width: auto;
    display: none;
    position: relative;
    z-index: 3;
}

@media screen and (min-width: 768px) {
    .header__logo--burger {
        display: none;
        transform: scale(0);
    }
}

.header__burger {
    display: none;
}

@media screen and (max-width: 767px) {
    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }

    .header__burger:before {
        content: "";
        background-color: #B59C93;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        top: 0;
        z-index: 2;
        border-radius: 80%;
    }

    .header__burger:after {
        content: "";
        background-color: #B59C93;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        bottom: 0;
    }
}

.header__burger.active span {
    transform: scale(0);
}

.header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
}

.header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
}

.header__burger span {
    position: absolute;
    background-color: #B59C93;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
    .header__navigation {
        padding: 135px 10px 30px 10px;
        position: fixed;
        width: 100%;
        top: -1000%;
        left: 0;
        overflow: auto;
        background-color: #FFFFFF;
        transition: 400ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

@media screen and (min-width: 768px) {
    .header__navigation {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-between;
        align-items: stretch;
    }
}

@media screen and (max-width: 767px) {
    .header__navigation__list {
        margin-bottom: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width: 1200px) {
    .header__navigation__list {
        display: flex;
        align-items: center;
    }
}

.header__navigation__list__item {
    padding: 5px;
}

@media screen and (min-width: 768px) {
    .header__navigation__list__item {
        padding: 15px 10px;
    }
}

@media screen and (max-width: 767px) {
    .header__navigation__list__item:not(:last-child) {
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .header__navigation__list__item:not(:last-child) {
        margin-right: 5px;
    }
}

@media screen and (min-width: 1200px) {
    .header__navigation__list__item:not(:last-child) {
        margin-right: 10px;
    }
}

.header__navigation__list__item .item__link {
    position: relative;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    color: #0A2936;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__navigation__list__item .item__link:hover {
    transform: scale(1.1);
    color: #FFFFFF;
}

.header__navigation__list__item .link__current {
    color: #000;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__navigation__list__item .link__current::after {
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    bottom: -10px;
    border-radius: 2px;
    border-bottom: 1px solid #0A2936;
}

@media screen and (max-width: 767px) {
    .header__navigation__list__item .link__current::after {
        bottom: -5px;
    }
}

.header__navigation__select {
    display: flex;
}

@media screen and (max-width: 767px) {
    .header__navigation__select {
        position: relative;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (min-width: 768px) {
    .header__navigation__select {
        margin-right: 50px;
    }
}

@media screen and (max-width: 767px) {
    .header__navigation__select .select__box {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
    }
}

.header__navigation__select .select__box__text {
    margin-left: 22px;
    margin-bottom: 2px;
    font-weight: 600;
    font-size: 9px;
    line-height: 1.22;
}

.header__navigation__select .select__box__btn {
    width: 173px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    color: #FFFFFF;
    background: #F5C780;
    border-radius: 7.6px;
    border: none;
}

.header__navigation__select .select__box__list {
    display: none;
    position: absolute;
    top: 85%;
    padding: 0 10px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
}

.header__navigation__select .select__box__list__item {
    padding: 10px 5px;
}

.header__navigation__select .select__box__list__item:not(:last-child) {
    margin-right: 10px;
}

.header__navigation__select .select__box__list__item__link {
    color: #0A2936;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.header__navigation__select .select__box__list__item__link:hover {
    transform: scale(1.1);
    color: #FFFFFF;
}

@media screen and (max-width: 767px) {
    .header__navigation__select::after {
        display: block;
        position: absolute;
        content: "";
        width: 100%;
        left: 0;
        bottom: -25px;
        border-radius: 2px;
        border-bottom: 1px solid #B59C93;
    }
}

.header__navigation__social__list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.header__navigation__social__list__item {
    padding: 10px 5px;
}

.header__navigation__social__list__item:not(:last-child) {
    margin-right: 10px;
}

.header__navigation__social__list__item .item__link {
    color: #0A2936;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .header__navigation__language {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .header__navigation__language {
        margin-left: 15px;
        padding: 5px;
        display: flex;
        align-items: center;
        letter-spacing: 0.05em;
        font-weight: 500;
        font-size: 24px;
        line-height: 1.12;
        cursor: pointer;
    }
}

.header__navigation.active {
    top: 0;
}

.header .item--bg:hover, .header .item--bg:focus {
    background: #F5C780;
    box-shadow: 0px 10px 15px rgba(97, 99, 3, 0.568);
}

.header .select--item--bg:hover, .header .select--item--bg:focus {
    background: #F0553B;
    box-shadow: 0px 10px 15px rgba(97, 99, 3, 0.568);
}

.header .item__icon {
    width: 24px;
    height: 24px;
    vertical-align: sub;
    fill: currentColor;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header .item__icon:hover {
    transform: scale(1.1);
}

.header .icon-question {
    vertical-align: middle;
    color: #DCC9C0;
}

.header .icon-question:hover {
    color: #0A2936;
}

.header .icon-open {
    position: relative;
    width: 16px;
    height: 9px;
    transition: color 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header .icon-instagram:hover {
    color: #ff2f6e;
}

.header .icon-tiktok:hover {
    color: red;
    background: black;
}

.header .icon-youtube:hover {
    color: red;
}

.header .icon-facebook:hover {
    color: rgb(0, 81, 255);
}

@media screen and (max-width: 767px) {
    .header #language {
        margin: 0;
        display: none;
        z-index: 1;
        font-weight: 500;
        font-size: 17px;
        line-height: 1.12;
        letter-spacing: 0.05em;
        cursor: pointer;
    }
}

@media screen and (min-width: 768px) {
    .header #language {
        display: none;
        transform: scale(0);
    }
}

.header #select__box__btn:hover #icon-open {
    color: #0A2936;
    transform: rotate(180deg);
}

.hero {
    position: relative;
    width: auto;
}

.hero__link {
    width: 100%;
    display: inline-block;
    position: relative;
    line-height: 0;
}

.hero__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    background-image: linear-gradient(180deg, rgba(227, 217, 207, 0), rgb(164, 124, 116));
    mix-blend-mode: normal;
}

.hero__image-mob {
    display: none;
}

@media screen and (max-width: 767px) {
    .hero__image-mob {
        display: block;
    }
}

.hero__image-desk {
    display: none;
}

@media screen and (min-width: 1200px) {
    .hero__image-desk {
        display: block;
        width: 1200px;
        margin-right: auto;
        margin-left: auto;
    }
}

.hero-overlay {
    padding-top: 14px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
    background: #DCC9C0;
}

@media screen and (min-width: 1200px) {
    .hero-overlay {
        padding-right: 16px;
        padding-bottom: 64px;
        padding-left: 63px;
        width: 685px;
    }
}

.hero-overlay__count {
    position: relative;
    margin-left: auto;
    display: block;
    width: 28px;
    height: 28px;
    fill: currentColor;
    color: #B59C93;
    transition: color 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
    .hero-overlay__count {
        width: 41px;
        height: 59px;
    }
}

.hero-overlay__count__text {
    display: none;
}

@media screen and (min-width: 1200px) {
    .hero-overlay__count__text {
        display: block;
        position: absolute;
        left: 90.5%;
        top: 7%;
        font-weight: 400;
        font-size: 36px;
        line-height: 1.22;
        color: #FFFFFF;
    }
}

@media screen and (min-width: 768px) {
    .hero-overlay .count--mob {
        display: none;
    }
}

.hero-overlay .count--desk {
    display: none;
}

@media screen and (min-width: 1200px) {
    .hero-overlay .count--desk {
        display: block;
    }
}

.hero-overlay__title {
    margin-bottom: 9px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.hero-overlay__title__spinner {
    margin-right: 10px;
    width: 25px;
    height: 44px;
    fill: currentColor;
    color: #0A2936;
    transition: color 400ms cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-animation: spinner 3s infinite;
    animation: spinner 3s infinite;
}

@-webkit-keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (min-width: 1200px) {
    .hero-overlay__title__spinner {
        margin-right: 18px;
        width: 42px;
        height: 75px;
    }
}

@media screen and (min-width: 768px) {
    .hero-overlay__title .spinner--mob {
        display: none;
    }
}

.hero-overlay__title .spinner--desk {
    display: none;
}

@media screen and (min-width: 1200px) {
    .hero-overlay__title .spinner--desk {
        display: block;
    }
}

.hero-overlay__title__text {
    font-size: 23.22px;
    line-height: 1.12;
    font-weight: 500;
    letter-spacing: 0.24vw;
    text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
    .hero-overlay__title__text {
        font-size: 40px;
        line-height: 1.1;
        letter-spacing: 0.05em;
    }
}

.hero-overlay__description {
    margin-bottom: 24px;
    font-weight: 300;
    font-size: 17px;
    line-height: 1.24;
    letter-spacing: 0.035em;
    text-align: justify;
}

.hero-overlay__navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 359px) {
    .hero-overlay__navigation {
        display: flex;
        flex-direction: column;
    }

    .hero-overlay__navigation > :first-child {
        margin-bottom: 20px;
    }
}

.hero-overlay__navigation__item__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.035em;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
    .hero-overlay__navigation__item__text {
        font-size: 15px;
        line-height: 1.2;
    }
}

.hero-overlay__navigation__item__btn {
    position: relative;
    width: 154px;
    height: 36.07px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    background: #B59C93;
    border: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-overlay__navigation__item__btn:hover {
    background: #F0553B;
}

@media screen and (max-width: 480px) {
    .hero-overlay__navigation__item__btn {
        width: 134px;
    }
}

@media screen and (min-width: 1200px) {
    .hero-overlay__navigation__item__btn {
        width: 246px;
        height: 47px;
    }
}

.hero-overlay__navigation__buy {
    position: absolute;
    padding: 2px 5px;
    width: 100%;
    height: 100%;
    left: 0px;
}

.hero-overlay__navigation .buy--airbnb {
    background: url("./images/airbnb-mob.png") 50% 50% no-repeat;
}

@media screen and (min-width: 1200px) {
    .hero-overlay__navigation .buy--airbnb {
        background: url("./images/airbnb-desk.png") 50% 50% no-repeat;
    }
}

.hero-overlay__navigation .buy--booking {
    background: url("./images/booking-mob.png") 50% 50% no-repeat;
}

@media screen and (min-width: 1200px) {
    .hero-overlay__navigation .buy--booking {
        background: url("./../images/booking-desk.png") 50% 50% no-repeat;
    }
}

.overlay-project {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.overlay-project:hover .hero-overlay, .overlay-project:focus .hero-overlay {
    transform: translateY(0%);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .overlay-project {
        display: flex;
        width: 50%;
    }
}

.hero-overlay {
    position: absolute;
    top: 25%;
    overflow: hidden;
    transform: translateX(-1000%);
    box-sizing: border-box;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
    .hero-overlay {
        top: 55%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .hero-overlay {
        top: 50%;
        width: 50%;
        height: 50%;
    }
}

/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
/* Лента слайдов */
/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */