$text-color: #0a2936;
$font-family-body: 'Montserrat', sans-serif;
$font-family-title: 'Bebas Neue', cursive;
$font-size-body: 20px;
$font-size-btn: 14px;
$font-weight-body: 400;
$font-weight-secondary: 600;
$font-weight-bold: 700;
$color-btn: #ffffff;
$color-menu: #b59c93;
$background-body-color: #ffffff;
$background-accent: #f5c780;
$background-btn: #f0553b;
$background-hero: #c4c4c4;
$background-secondary: #dcc9c0;
$transition-timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$box-shadow-button: 0px 10px 15px rgba(97, 99, 3, 0.568);
