$text-color: #0A2936;
$font-family-body: 'Montserrat', sans-serif;
$font-family-title: 'Bebas Neue', cursive, sans-serif;
$font-size-body: 20px;
$font-size-btn: 14px;
$font-weight-body: 400;
$font-weight-secondary: 600;
$font-weight-bold: 700;
$color-btn: #FFFFFF;
$color-menu: #B59C93;
$background-body-color: #FFFFFF;
$background-accent: #F5C780;
$background-secondary: #DCC9C0;
$transition-timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$box-shadow-button: 0px 10px 15px rgba(97, 99, 3, 0.568);



