<!DOCTYPE html>
<section class="about">
  <div class="about__wrapper">
    <h2 class="about__wrapper__transparenty">GOOD VIBES</h2>
    <div class="about__wrapper__title">
      <p class="about__wrapper__title__text">IT'S ALL ABOUT THE</p>
      <p class="about__wrapper__title__sub-title">GOOD VIBES</p>
    </div>
    <ul class="about__wrapper__title__list">
      <li class="about__wrapper__title__list__item">
        <h3 class="item__link link__current">COUPLE</h3>
      </li>
      <li class="about__wrapper__title__list__item">
        <h3 class="item__link">FAMILY WITH BABY</h3>
      </li>
      <li class="about__wrapper__title__list__item">
        <h3 class="item__link">FAMILY WITH KIDS</h3>
      </li>
      <li class="about__wrapper__title__list__item">
        <h3 class="item__link">FRIENDS</h3>
      </li>
    </ul>
    <div class="couple">
      <ul class="couple__left-list">
        <li class="couple__left-list__item item--primary">
          <svg
            class="couple__left-list__item__vector"
            width="389"
            height="100"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M388.5 98.5933L298.928 1.23242H0.787334"
              stroke="#B59C93"
              stroke-linecap="round"
            />
          </svg>
          <div class="couple__wrapper wrapper--caravan">
            <img
              class="couple__wrapper__image"
              src="./assets/images/caravan.png"
              width="46.73"
              height="38.08"
              alt="image"
            />
            <span class="couple__wrapper__text">Caravan</span>
          </div>
        </li>
        <li class="couple__left-list__item item--secondary">
          <svg
            class="couple__left-list__item__vector"
            width="356"
            height="2"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M354.617 1.10645L0.656273 1.10648"
              stroke="#B59C93"
              stroke-linecap="round"
            />
          </svg>
          <div class="couple__wrapper wrapper--cheel">
            <img
              class="couple__wrapper__image"
              src="./assets/images/cheel_zone.png"
              width="51.06"
              height="51.06"
              alt="image"
            />
            <span class="couple__wrapper__text"
              >cheel <br />
              zone</span
            >
          </div>
        </li>
        <li class="couple__left-list__item item--tertiary">
          <svg
            class="couple__left-list__item__vector"
            width="320"
            height="99"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M319.27 0.536573L229.698 97.8975H0.791226"
              stroke="#B59C93"
              stroke-linecap="round"
            />
          </svg>
          <div class="couple__wrapper wrapper--vr">
            <img
              class="couple__wrapper__image"
              src="./assets/images/vr_zone.png"
              width="49.33"
              height="49.33"
              alt="image"
            />
            <span class="couple__wrapper__text">vr zone</span>
          </div>
        </li>
      </ul>
      <div class="couple__image">
        <img
          class="couple__image__small"
          src="./assets/images/caravan-small.png"
          alt=""
        />
        <img
          class="couple__image__big"
          src="./assets/images/caravan-big.png"
          alt=""
        />
      </div>
      <ul class="couple__right-list">
        <li class="couple__right-list__item item--primary-revert">
          <svg
            class="couple__right-list__item__vector"
            width="370"
            height="100"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0.875 98.5933L90.447 1.23242H371.279"
              stroke="#B59C93"
              stroke-linecap="round"
            />
          </svg>
          <div class="couple__wrapper wrapper--caravan">
            <span class="couple__wrapper__text">Games</span>
            <img
              class="couple__wrapper__image image--revert"
              src="./assets/images/caravan.png"
              width="46.73"
              height="38.08"
              alt="image"
            />
          </div>
        </li>
        <li class="couple__right-list__item item--secondary--secondary">
          <svg
            class="couple__right-list__item__vector"
            width="341"
            height="2"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M354.617 1.10645L0.656273 1.10648"
              stroke="#B59C93"
              stroke-linecap="round"
            />
          </svg>
          <div class="couple__wrapper wrapper--cheel">
            <span class="couple__wrapper__text"
              >all for <br />
              children</span
            >
            <img
              class="couple__wrapper__image image--revert"
              src="./assets/images/cheel_zone.png"
              width="51.06"
              height="51.06"
              alt="image"
            />
          </div>
        </li>
        <li class="couple__right-list__item item--tertiary">
          <svg
            class="couple__right-list__item__vector"
            width="307"
            height="99"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0.617188 0.536573L90.1892 97.8975H307.845"
              stroke="#B59C93"
              stroke-linecap="round"
            />
          </svg>
          <div class="couple__wrapper wrapper--vr">
            <span class="couple__wrapper__text">yoga</span>
            <img
              class="couple__wrapper__image image--revert"
              src="./assets/images/vr_zone.png"
              width="49.33"
              height="49.33"
              alt="image"
            />
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
