<!DOCTYPE html>
<header class="header container">
  <div class="header__box">
    <a href="./index.html" class="logo header__logo"
      ><img
        class="header__logo--small"
        src="/assets/images/logo.png"
        alt="logo" />
      <img
        class="header__logo--big"
        src="/assets/images/big-logo.png"
        alt="logo"
    /></a>
    <div class="header__burger">
      <span></span>
    </div>
    <nav class="header__navigation">
      <ul class="header__navigation__list">
        <li class="header__navigation__list__item item--bg">
          <a
            href="./index.html"
            class="item__link link__current"
            rel="noreferrer noopener"
            >Home</a
          >
        </li>
        <li class="header__navigation__list__item item--bg">
          <a href="#" class="item__link" rel="noreferrer noopener">About</a>
        </li>
        <li class="header__navigation__list__item item--bg">
          <a href="#" class="item__link">Places</a>
        </li>
        <li class="header__navigation__list__item item--bg">
          <a href="#" class="item__link">Games</a>
        </li>
        <li class="header__navigation__list__item item--bg">
          <a href="#" class="item__link">Gallery</a>
        </li>
        <li class="header__navigation__list__item item--bg">
          <svg class="item__icon icon-question">
            <use href="/assets/images/symbol-defs.svg#icon-question"></use>
          </svg>
          <a href="#" class="item__link">How to work</a>
        </li>
      </ul>
      <div class="header__navigation__select">
        <div class="select__box">
          <p class="select__box__text">DISCOVER OUR PLACES</p>
          <button
            class="btn select__box__btn"
            type="button"
            aria-expanded="false"
            aria-controls="menu-container"
            data-menu-button
          >
            ATLIT BEACH
            <svg class="item__icon icon-open">
              <use href="../assets/images/symbol-defs.svg#icon-open"></use>
              <ul class="select__box__list">
                <li class="select__box__list__item select--item--bg">
                  <a class="select__box__list__item__link" href="">Link</a>
                </li>
                <li class="select__box__list__item select--item--bg">
                  <a class="select__box__list__item__link" href="">Link</a>
                </li>
                <li class="select__box__list__item select--item--bg">
                  <a class="select__box__list__item__link" href="">Link</a>
                </li>
                <li class="select__box__list__item select--item--bg">
                  <a class="select__box__list__item__link" href="">Link</a>
                </li>
              </ul>
            </svg>
          </button>
        </div>
      </div>
      <ul class="header__navigation__list">
        <li class="header__navigation__list__item">
          <a href="#" class="item__link"
            ><svg class="item__icon icon-instagram">
              <use
                href="../assets/images/symbol-defs.svg#icon-instagram"
              ></use></svg
          ></a>
        </li>
        <li class="header__navigation__list__item">
          <a href="#" class="item__link"
            ><svg class="item__icon icon-tiktok">
              <use
                href="../assets/images/symbol-defs.svg#icon-tiktok"
              ></use></svg
          ></a>
        </li>
        <li class="header__navigation__list__item">
          <a href="#" class="item__link"
            ><svg class="item__icon icon-youtube">
              <use
                href="../assets/images/symbol-defs.svg#icon-youtube"
              ></use></svg
          ></a>
        </li>
        <li class="header__navigation__list__item">
          <a href="#" class="item__link"
            ><svg class="item__icon icon-facebook">
              <use
                href="../assets/images/symbol-defs.svg#icon-facebook"
              ></use></svg
          ></a>
        </li>
      </ul>
      <div class="header__navigation__language">EN</div>
    </nav>
  </div>
</header>
