<!DOCTYPE html>
<header class="header">
  <a href="./index.html" class="header__logo">
    <svg class="header__logo--big" alt="logo">
      <use href="./assets/images/symbol-defs.svg#logo-big"></use>
    </svg>
  </a>
  <div class="header__box">
    <div id="language" hidden>EN</div>
    <a href="./index.html" class="header__logo" id="header__logo">
      <svg
        class="header__logo--burger"
        alt="logo burger"
        id="logo--burger"
        hidden
      >
        <use href="./assets/images/symbol-defs.svg#logo--burger"></use>
      </svg>
      <svg class="header__logo--small" alt="logo small" id="logo">
        <use href="./assets/images/symbol-defs.svg#logo-small"></use>
      </svg>
    </a>
    <!-- <svg class="header__burger" id="header__burger">
      <use href="./assets/images/symbol-defs.svg#header__burger"></use>
      <use href="./assets/images/symbol-defs.svg#burger-close"></use>
    </svg> -->
    <!-- <button
      class="menu-button"
      type="button"
      aria-expanded="false"
      aria-controls="menu-container"
      data-menu-button
    >
      <svg aria-label="Toggle mobile menu">
        <use
          class="header__burger"
          href="./assets/images/symbol-defs.svg#header__burger"
        ></use>
        <use
          class="burger-close"
          href="./assets/images/symbol-defs.svg#burger-close"
        ></use>
      </svg>
    </button> -->
    <!-- <div class="header__burger" id="header__burger">
      <span></span>
    </div> -->
    <svg aria-label="Toggle mobile menu" class="header__burger">
      <use
        class="header__burger"
        href="./assets/images/symbol-defs.svg#header__burger"
      ></use>
    </svg>
    <nav class="header__navigation">
      <ul class="header__navigation__list">
        <li class="header__navigation__list__item item--bg">
          <a
            href="./index.html"
            class="item__link link__current"
            rel="noreferrer noopener"
            >Home</a
          >
        </li>
        <li class="header__navigation__list__item item--bg">
          <a href="#" class="item__link" rel="noreferrer noopener">About</a>
        </li>
        <li class="header__navigation__list__item item--bg">
          <a href="#" class="item__link">Places</a>
        </li>
        <li class="header__navigation__list__item item--bg">
          <a href="#" class="item__link">Games</a>
        </li>
        <li class="header__navigation__list__item item--bg">
          <a href="#" class="item__link">Gallery</a>
        </li>
        <li class="header__navigation__list__item item--bg">
          <svg class="item__icon icon-question">
            <use href="./assets/images/symbol-defs.svg#icon-question"></use>
          </svg>
          <a href="#" class="item__link">How to work</a>
        </li>
      </ul>
      <div class="header__navigation__select">
        <div class="select__box">
          <p class="select__box__text">DISCOVER OUR PLACES</p>
          <button
            id="select__box__btn"
            class="btn select__box__btn"
            type="button"
            aria-expanded="false"
            aria-controls="menu-container"
          >
            ATLIT BEACH
            <svg class="item__icon icon-open" id="icon-open">
              <use href="./assets/images/symbol-defs.svg#icon-open"></use>
              <ul class="select__box__list" id="select__box__list">
                <li class="select__box__list__item select--item--bg">
                  <a class="select__box__list__item__link" href="">Link</a>
                </li>
                <li class="select__box__list__item select--item--bg">
                  <a class="select__box__list__item__link" href="">Link</a>
                </li>
                <li class="select__box__list__item select--item--bg">
                  <a class="select__box__list__item__link" href="">Link</a>
                </li>
                <li class="select__box__list__item select--item--bg">
                  <a class="select__box__list__item__link" href="">Link</a>
                </li>
              </ul>
            </svg>
          </button>
        </div>
      </div>
      <div class="header__navigation__language">EN</div>
      <ul class="header__navigation__social__list">
        <li class="header__navigation__social__list__item">
          <a href="#" class="item__link"
            ><svg class="item__icon icon-instagram">
              <use
                href="./assets/images/symbol-defs.svg#icon-instagram"
              ></use></svg
          ></a>
        </li>
        <li class="header__navigation__social__list__item">
          <a href="#" class="item__link">
            <svg class="item__icon icon-tiktok">
              <use href="./assets/images/symbol-defs.svg#icon-tiktok"></use>
            </svg>
          </a>
        </li>
        <li class="header__navigation__social__list__item">
          <a href="#" class="item__link"
            ><svg class="item__icon icon-youtube">
              <use
                href="./assets/images/symbol-defs.svg#icon-youtube"
              ></use></svg
          ></a>
        </li>
        <li class="header__navigation__social__list__item">
          <a href="#" class="item__link"
            ><svg class="item__icon icon-facebook">
              <use
                href="./assets/images/symbol-defs.svg#icon-facebook"
              ></use></svg
          ></a>
        </li>
      </ul>
    </nav>
    <!-- <div class="header__navigation__language">EN</div> -->
  </div>
</header>
