<!DOCTYPE html>
<section class="hero">
  <a class="hero__move" href="#picture">
    <p class="hero__move__text">GLAMPING EXPERIENCE</p>
    <svg class="hero__move__icon">
      <use href="./assets/images/symbol-defs.svg#icon-move"></use>
    </svg>
  </a>
  <div class="overlay-project">
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="image-slider swiper-container">
        <div class="image-slider__wrapper swiper-wrapper">
          <!-- Slides -->
          <div
            class="image-slider__slide swiper-slide"
            data-title="Atlit Beach"
          >
            <div class="image-slider__image hero__link swiper-zoom-container">
              <img
                class="hero__image-desk"
                src="./assets/images/image 95.png"
                alt="image alfa-gamping"
              />
            </div>
          </div>
          <div
            class="image-slider__slide swiper-slide"
            data-title="Another place"
          >
            <div class="image-slider__image hero__link">
              <img
                class="hero__image-desk"
                src="./assets/images/slide.png"
                alt="image alfa-gamping"
              />
            </div>
          </div>
          <div
            class="image-slider__slide swiper-slide"
            data-title="Another place"
          >
            <div class="image-slider__image hero__link">
              <img
                class="hero__image-desk"
                src="./assets/images/slide2.png"
                alt="image alfa-gamping"
              />
            </div>
          </div>
          <div
            class="image-slider__slide swiper-slide"
            data-title="Another place"
          >
            <div class="image-slider__image hero__link">
              <img
                class="hero__image-desk"
                src="./assets/images/slide1.png"
                alt="image alfa-gamping"
              />
            </div>
          </div>
        </div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
      <div class="swiper-scrollbar"></div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

      <!-- If we need scrollbar -->
    </div>
    <!-- </a> -->
    <div class="hero-overlay">
      <svg class="hero-overlay__count">
        <use
          class="count--mob"
          href="./assets/images/symbol-defs.svg#icon-count-mob"
        ></use>
        <use
          class="count--desk"
          href="./assets/images/symbol-defs.svg#icon-count-desk"
        ></use>
      </svg>
      <!-- <span class="hero-overlay__count__total">1</span> -->
      <span class="hero-overlay__count__current">01</span>
      <div class="hero-overlay__title">
        <svg class="hero-overlay__title__spinner">
          <use
            class="spinner--mob"
            href="./assets/images/symbol-defs.svg#icon-spinner-mob"
          ></use>
          <use
            class="spinner--desk"
            href="./assets/images/symbol-defs.svg#icon-spinner-desk"
          ></use>
        </svg>
        <h1 class="hero-overlay__title__text">explore the Mediterranean sea</h1>
      </div>
      <h2 class="hero-overlay__sub-title">
        We are inviting you to meet the amazing beach of Atlit. The place
        located in the beuteful north of israel
      </h2>
      <div class="hero-overlay__navigation">
        <div class="hero-overlay__navigation__item">
          <p class="hero-overlay__navigation__item__text">book now</p>
          <a class="hero-overlay__navigation__item__link" href="">
            <button class="hero-overlay__navigation__item__btn">
              <div class="hero-overlay__navigation__buy buy--airbnb"></div>
            </button>
          </a>
        </div>
        <div class="hero-overlay__navigation__item">
          <p class="hero-overlay__navigation__item__text">book now</p>
          <a class="hero-overlay__navigation__item__link" href="">
            <button class="hero-overlay__navigation__item__btn">
              <div class="hero-overlay__navigation__buy buy--booking"></div>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
