<!DOCTYPE html>
<section class="hero container">
  <div class="hero__content">
    <svg><use></use></svg>
    <div class="hero__box__title">
      <h1 class="hero__title"></h1>
    </div>
    <div class="hero__text"></div>
    <div class="hero__navigation">
      <ul>
        <li>
          <div></div>
          <a href="">
            <button></button>
          </a>
        </li>
        <li>
          <div></div>
          <a href="">
            <button></button>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
