<!DOCTYPE html>
<section class="picture" id="picture">
  <div class="picture__wrapper">
    <div class="picture__wrapper--style picture-grid1">
      <picture>
        <source
          media="(max-width: 767px)"
          srcset="./assets/images/mob/slide.png"
        />
        <source
          media="(min-width: 1200px)"
          srcset="./assets/images/slide1.png"
        />
        <img
          class="picture__image"
          src="./assets/images/mob/slide.png"
          alt="slide"
        />
      </picture>
    </div>

    <div class="picture__wrapper--style picture-grid2">
      <picture>
        <source
          media="(max-width: 767px)"
          srcset="./assets/images/mob/slide1.png"
        />
        <source
          media="(min-width: 1200px)"
          srcset="./assets/images/slide.png"
        />
        <img
          class="picture__image"
          src="./assets/images/mob/slide1.png"
          alt="slide"
        />
      </picture>
    </div>

    <div class="picture__wrapper--style picture-grid3">
      <picture>
        <source
          media="(max-width: 767px)"
          srcset="./assets/images/mob/slide3.png"
        />
        <source
          media="(min-width: 1200px)"
          srcset="./assets/images/slide5.png"
        />
        <img
          class="picture__image"
          src="./assets/images/mob/slide3.png"
          alt="slide"
        />
      </picture>
    </div>

    <div class="picture__wrapper--style picture-grid4">
      <picture>
        <source
          media="(max-width: 767px)"
          srcset="./assets/images/mob/slide4.png"
        />
        <source
          media="(min-width: 1200px)"
          srcset="./assets/images/slide4.png"
        />
        <img
          class="picture__image"
          src="./assets/images/mob/slide4.png"
          alt="slide"
        />
      </picture>
    </div>

    <div class="picture__wrapper--style picture-grid5">
      <picture>
        <source
          media="(max-width: 767px)"
          srcset="./assets/images/mob/slide5.png"
        />
        <source
          media="(min-width: 1200px)"
          srcset="./assets/images/slide2.png"
        />
        <img
          class="picture__image"
          src="./assets/images/mob/slide5.png"
          alt="slide"
        />
      </picture>
    </div>

    <div class="picture__wrapper--style picture-grid6">
      <picture>
        <source
          media="(max-width: 767px)"
          srcset="./assets/images/mob/slide6.png"
        />
        <source
          media="(min-width: 1200px)"
          srcset="./assets/images/slide3.png"
        />
        <img
          class="picture__image"
          src="./assets/images/mob/slide6.png"
          alt="slide"
        />
      </picture>
    </div>
  </div>
</section>
