<!DOCTYPE html>
<section class="picture container" id="picture">
  <div class="picture__wrapper">
    <div class="picture__wrapper__primary">
      <div class="picture__wrapper--style">
        <img
          class="picture__image"
          src="./assets/images/slide.png"
          alt="slide"
        />
      </div>
    </div>
    <div class="picture__wrapper__secondary">
      <div class="picture__wrapper--style">
        <img
          class="picture__image"
          src="./assets/images/slide1.png"
          alt="slide"
        />
      </div>
      <div class="picture__wrapper--style">
        <img
          class="picture__image"
          src="./assets/images/slide2.png"
          alt="slide"
        />
      </div>
    </div>
    <div class="picture__wrapper__tertiary">
      <div class="picture__wrapper--style">
        <img
          class="picture__image"
          src="./assets/images/slide3.png"
          alt="slide"
        />
      </div>
      <div class="picture__wrapper--style">
        <img
          class="picture__image"
          src="./assets/images/slide4.png"
          alt="slide"
        />
      </div>
      <div class="picture__wrapper--style">
        <img
          class="picture__image"
          src="./assets/images/slide5.png"
          alt="slide"
        />
      </div>
    </div>
  </div>
</section>
