<!DOCTYPE html>
<section class="places container">
  <div class="places__wrapper">
    <div class="places__wrapper__title">
      <h3 class="places__wrapper__title__name">
        See <br />
        the best places
      </h3>
      <p class="places__wrapper__title__description">
        Beautiful Nature with comfort
      </p>
      <button class="places__wrapper__title__btn">view All</button>
    </div>
    <div class="places__wrapper__gallery">
      <img
        class="places__image"
        src="./assets/images/places.png"
        alt="places image"
      />
    </div>
    <div class="places__wrapper__gallery">
      <img
        class="places__image"
        src="./assets/images/places1.png"
        alt="places image"
      />
    </div>
    <div class="places__wrapper__gallery">
      <img
        class="places__image"
        src="./assets/images/places2.png"
        alt="places image"
      />
    </div>
  </div>
</section>
