<!DOCTYPE html>
<!DOCTYPE html>
<section class="review">
  <div class="review__wrapper">
    <div class="review__wrapper__cap">
      <p class="review__wrapper__cap__primary">Reviews</p>
      <p class="review__wrapper__cap__secondary">
        Visitors to indigo say about
      </p>
    </div>
    <div class="review__people">
      <div class="review__people__image">
        <img
          class="image-hero"
          src="./assets/images/review-primary.png"
          alt="image review"
        />
      </div>
      <div class="review__people__box">
        <div class="content">
          <div class="content__title">
            <div class="content__title__box">
              <span class="content__title__index">01</span>
              <p class="content__title__name">Daria review</p>
            </div>

            <p class="content__title__text">
              Dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit
              amet. Dolor sit amet, consectetur adipiscing elit ut aliquam,
              purus sit amet!
            </p>
          </div>
          <div class="content__navigation">
            <div class="content__navigation__toggle">
              <svg
                width="10"
                height="16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M8.67416 0.329644C9.11369 0.76917 9.11369 1.48178 8.67416 1.92131L2.71714 7.87833L8.67416 13.8354C9.11369 14.2749 9.11369 14.9875 8.67416 15.427C8.23464 15.8665 7.52202 15.8665 7.0825 15.427L0.329644 8.67416C-0.109881 8.23464 -0.109881 7.52202 0.329644 7.0825L7.0825 0.329644C7.52202 -0.109881 8.23464 -0.109881 8.67416 0.329644Z"
                  fill="#0A2936"
                />
              </svg>
              <svg
                class="navigation--vector-right"
                width="10"
                height="16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M1.32574 0.329644C1.76526 -0.109881 2.47788 -0.109881 2.9174 0.329644L9.67025 7.0825C10.1098 7.52202 10.1098 8.23464 9.67025 8.67416L2.9174 15.427C2.47788 15.8665 1.76526 15.8665 1.32574 15.427C0.886212 14.9875 0.886212 14.2749 1.32574 13.8354L7.28276 7.87833L1.32574 1.92131C0.886212 1.48178 0.886212 0.76917 1.32574 0.329644Z"
                  fill="#0A2936"
                />
              </svg>
            </div>
            <div class="content__navigation__social">@instagram_Alpfa</div>
          </div>
        </div>
        <div class="review__people__box__image">
          <img
            class="image--people"
            src="./assets/images/review-people.png"
            alt="image review people"
          />
          <img
            class="image--people"
            src="./assets/images/review-people1.png"
            alt="image review people"
          />
          <img
            class="image--people"
            src="./assets/images/review-people2.png"
            alt="image review people"
          />
        </div>
      </div>
    </div>
  </div>
</section>
