<!DOCTYPE html>
<html lang="eng">
  <head>
    {{> head }}
    <title>ALFA-GLAMPING</title>
  </head>
  <body class="full_document">
    <div class="wrapper">
      {{> header}} {{> hero}} {{> about}} {{> picture}} {{> places}} {{>
      review}} {{> feedback}} {{> footer}}
    </div>

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="assets/js/app.js"></script>
  </body>
</html>
